{
    "keylog": {
        "devices": [
            {
                "device_id": "1",
                "name": "⌨️✋ crkbd",
                "keylogger": {
                    "usb_name": "foostan Corne"
                },
                "layers": [
                    {
                        "id": 1,
                        "name": "Base",
                        "codes": [
                            {
                                "code": 16
                            },
                            {
                                "code": 17
                            },
                            {
                                "code": 18
                            },
                            {
                                "code": 19
                            },
                            {
                                "code": 20
                            },
                            {
                                "code": 21
                            },
                            {
                                "code": 22
                            },
                            {
                                "code": 23
                            },
                            {
                                "code": 24
                            },
                            {
                                "code": 25
                            },
                            {
                                "code": 30
                            },
                            {
                                "code": 31
                            },
                            {
                                "code": 32
                            },
                            {
                                "code": 33
                            },
                            {
                                "code": 34
                            },
                            {
                                "code": 35
                            },
                            {
                                "code": 36
                            },
                            {
                                "code": 37
                            },
                            {
                                "code": 38
                            },
                            {
                                "code": 42
                            },
                            {
                                "code": 44
                            },
                            {
                                "code": 45
                            },
                            {
                                "code": 46
                            },
                            {
                                "code": 47
                            },
                            {
                                "code": 48
                            },
                            {
                                "code": 49
                            },
                            {
                                "code": 50
                            }
                        ]
                    },
                    {
                        "id": 2,
                        "name": "Symbol",
                        "codes": [
                            {
                                "code": 13
                            },
                            {
                                "code": 13,
                                "modifier": 42
                            }
                        ]
                    }
                ]
            }
        ],
        "shortcut_groups": [
            {
                "id": "A",
                "name": "Clipboard ✏️",
                "shortcuts": [
                    {
                        "id": "1A",
                        "name": "Copy 📎",
                        "codes": [
                            29,
                            46
                        ],
                        "type": "hold"
                    }
                ]
            },
            {
                "id": "B",
                "name": "Nvim 🕶️",
                "shortcuts": [
                    {
                        "id": "1B",
                        "name": "Save 💾",
                        "codes": [
                            36,
                            31
                        ],
                        "type": "seq"
                    }
                ]
            }
        ],
        "shift_state": {
            "threshold_auto": "5ms"
        }
    },
    "storage": {
        "file_output": "${KEYLOGME_OUTPUT_FILE}",
        "periodic_save": "20s"
    }
}
